#portBody h2, #portBody h3, .artifactWrap h2, .folderContentView h2, .portfolioArtifactTable th {
    color: blue;
}


body {
    color: blue;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQDTqGxA5yh2zGFVcQgvr9fjvRbRk49dBfrXA&usqp=CAU);
}

h2{
    font-family: arial;
}
