body {
    background-image: url("https://image.freepik.com/free-photo/beautiful-scenery-milky-way-mard-petrova-gora-croatia_181624-7612.jpg");
    color: #b0c5d6;
    font-size: 12px;
}

#portBody h2,
#portBody h3,
.artifactWrap h2,
.folderContentView h2,
.portfolioArtifactTable th {
    color: rgb(255, 255, 255);
}

#portBody {
    background-color: rgba(20, 19, 31, 0.1);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #c2cbd2;
    border-color: rgb(92, 92, 91);
}

#portNav {
    border: 1px solid #c2cbd2;
}

#portNav ul li a {
    color: #ffffff;
    height: auto;
}

#portNav {
    border: 1px solid #c2cbd2;
}

#portNav ul li a {
    color: #ffffff;
    height: auto;
}

#portNav ul li a:hover {
    background-color: #b3b3b3;
    opacity: 59%;
}

#portNav ul li.extras a {
    color: black;
}

#portContainer {
    background-color: black;
}

#portText {
    font-family: inherit;
}

#portHeader,
#portFooter {
    background-color: #3f434c;
    color: #fff;
    border: 1px solid #c2cbd2;
    margin: 0;
    text-align: center;
}


/* Artifact Styling */

.artifactWrap,
.folderContentView {
    background-color: #fdfdfd;
    border: 1px solid #c2cbd2;
}

.artifactWrap .portfolioArtifactTable .selectedCell {
    background: #D1EAEF url(images/button_ok_ia.png) no-repeat 12px 12px;
}

.autoClickOnArtifactPreview {
    background-color: #e4e8ea;
    color: #0033aa;
    border: 1px solid #c2cbd2;
}

.autoClickOnArtifactPreview:hover,
.autoClickOnArtifactPreview:active {
    background-color: #c2cbd2;
}
